body {
  font-family: 'Varela Round', sans-serif;
  background-color: #2E364E;
}
a {
  color: #fff;
}
a:hover,
a:active,
a:focus {
  color: #2E364E;
}
.carousel-item {
  background-image: url(../images/main-visual.png);
  background-size: cover;
}
.carousel-caption {
  bottom: auto;
  top: 100px;
}
.carousel-caption i {
  margin-bottom: 20px;
}
.img-circle {
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    border: 1px solid;
    background-color: #FF5656;
}
i.fa-5x {
  font-size: 8em;
}
.text-center {
  text-align: left;
}
@media (min-width: 48em) {
  .featurette-image i.fa-5x {
    line-height: 3em;
  }
  .text-center {
    text-align: center;
  }
}

.btn-secondary {
    color: #FF5656;
    background-color: #2E364E;
    border: 2px solid #FF5656;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    color: #2E364E;
    background-color: #FF5656;
    border: 2px solid #FF5656;
}
